export PROJECT_NAME=chatbot-core

# INFO: Source the .env file coresponding to the environment
# E.g .env or .env.local
# So you have to create a .env file in the root of the project
[ -f ".env" ] && dotenv ".env"
