# INFO: This is gitignore for all projects

# Jetbrains
.idea/

# Environments
**/.env
**/.venv
**/env/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/
**/.python-version

# Docs
docs/.next
docs/node_modules

# Logs
**/node_modules
**/yarn-error.log

# Tools
**/.ruff_cache/
.DS_Store

# Backend ignores
backend/**/*.pyc

# Frontend ignores
frontend/.next
